---
---

@import "minima";

.wrapper {
  max-width: 90% !important;
  width: 90% !important;
  padding-right: 5% !important;
  padding-left: 5% !important;
}

.page-content .wrapper {
  max-width: 90% !important;
  width: 90% !important;
}
