---
---

@import "minima";

.wrapper {
  max-width: 98% !important;
  width: 98% !important;
  padding-right: 1% !important;
  padding-left: 1% !important;
}

.page-content .wrapper {
  max-width: 98% !important;
  width: 98% !important;
}
