---
---

@import "minima";

.wrapper {
  max-width: none !important;
  width: 70% !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.page-content .wrapper {
  max-width: none !important;
  width: 70% !important;
}

.site-header .wrapper {
  max-width: none !important;
  width: 70% !important;
}
